**/.gradle
**/.settings
*.bak
*.iml
*.ipr
*.iws
*.swp
*~
/.bnd
/.checkstyle
/.idea
/.m2
/.sonar
/app.server.*.properties
/bin
/build
/build.*.properties
/classes/Test.class
/dist
/tmp
